[Desktop Entry]
Name=crt
Comment=GPU-accelerated terminal with retro CRT effects
Exec=crt
Icon=crt
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;command;prompt;
StartupNotify=true
Terminal=false
